.header {
  border-bottom: 1px solid black;
  background: black;
  display: flex;
  min-height: 50px;
}

.button {
  text-align: center;
  padding: 15px;
  /* box-shadow: 0px 0px 50px black; */
  border: none;
  background: transparent;
  color: black;
  color: var(--light);
  font-size: 12pt;

  border: none;
  z-index: 5;
  cursor: pointer;
  text-transform: uppercase;
}

.play_button:hover {
  text-decoration: underline;
}

.menu_element {
  color: var(--light);
  height: 100%;
  padding-left: 15px;
  display: inline-flex;
  align-items: center;
}

.menu_element button:not(:last-child) {
  margin-right: 10px;
}

.menu_element button {
  background: var(--light);
  border-radius: 50px;
  border: none;
  /* padding: 5px; */
  padding-left: 10px;
  padding-right: 10px;
  min-width: 25px;
  text-align: center;
  border: 1px solid var(--light);
  height: 30px;
}

.menu_element button.selected {
  background: var(--focused);
  border: 1px solid var(--light);
}

.menu_element input {
  background: var(--light);
  color: black;
  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50px;
  width: 62px;
  border: none;
  font-size: 12pt;
}
.menu_element input:focus {
  outline: none;
}

.menu_element label {
  font-size: 12pt;
  display: inline-block;
  margin-right: 10px;
}
